{% extends 'shop/base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-header text-center bg-success text-white">
                    <h3>Connexion</h3>
                </div>
                <div class="card-body">
                    {% for message in messages %}
                    <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}

                    <form method="post" action="{% url 'login' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Nom d'utilisateur</label>
                            <input type="text" name="username" class="form-control" id="username"
                                placeholder="Entrez votre nom" required>
                        </div>
                        <div class="form-group mt-3">
                            <label for="password">Mot de passe</label>
                            <input type="password" name="password" class="form-control" id="password"
                                placeholder="Entrez votre mot de passe" required>
                        </div>
                        <div class="text-center mt-4">
                            <button type="submit" class="btn btn-success btn-block">Se connecter</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}