{% extends 'shop/base.html' %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-lg">
                    <div class="card-header bg-primary text-white text-center">
                        <h2>Modifier le Produit</h2>
                    </div>
                    <div class="card-body">
                        {% if message %}
                        <div class="alert alert-success text-center">{{ message }}</div>
                        {% endif %}
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <!-- Nom du produit -->
                            <div class="form-group">
                                <label for="id_nom">Nom du Produit</label>
                                <input type="text" name="nom" class="form-control" value="{{ form.nom.value }}"
                                    placeholder="Entrez le nom du produit" required>
                            </div>

                            <!-- Prix du produit -->
                            <div class="form-group">
                                <label for="id_prix">Prix</label>
                                <input type="number" step="0.01" name="prix" class="form-control" value="{{ form.prix.value|floatformat }}"
                                    placeholder="Entrez le prix du produit" required>
                            </div>


                            <!-- Description du produit -->
                            <div class="form-group">
                                <label for="id_description">Description</label>
                                <textarea name="description" class="form-control" rows="4"
                                    placeholder="Entrez une description détaillée"
                                    required>{{ form.description.value }}</textarea>
                            </div>
                            
                            <!-- pour la quantité en stock -->
                            <div class="form-group">
                                <label for="id_quantite_en_stock">quantité en stock</label>
                                <input type="number" name="quantite_en_stock" class="form-control" value="{{ form.quantite_en_stock.value }}"  placeholder="Entrez la quantité en stock"
                                    required>
                            </div>
                           

                            <!-- Catégorie du produit -->
                            <div class="form-group">
                                <label for="id_categorie">Catégorie</label>
                                <select name="categorie" class="form-control" required>
                                    {% for categorie in form.categorie.field.queryset %}
                                    <option value="{{ categorie.id }}" {% if categorie.id == form.categorie.value %}selected{% endif %}>{{ categorie.nom }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <!-- Image du produit -->
                        <div class="form-group">
                            <label for="id_image">Image du Produit</label>
                            <input type="file" name="image" class="form-control-file">
                            {% if produits.image %}
                            <!-- Afficher l'image actuelle -->
                            <div class="mt-3">
                                <img src="{{ produits.image.url }}" alt="Image actuelle" class="img-thumbnail" style="width: 150px;">
                            </div>
                            {% endif %}
                        </div>


                            <!-- Bouton de modification -->
                            <div class="text-center">
                                <button type="submit" class="btn btn-success btn-lg">Modifier le Produit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


    {% block js %}
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    {% endblock %}
